.card {
  margin: 16px;
  max-width: 600px;
}

.panel {
  margin: 16px;
  max-width: 500px;
}

#output-container {
  width: 490px;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.output {
  width: 245px;
  overflow: hidden;
}

#left {
  width: 245px;
  justify-content: flex-end;
}

#left img {
  float: right;
}

.output img {
  width: 490px;
  padding: 0px;
  margin: 0px;
  max-width: 490px;
}

.tcont {
  display: flex;
  justify-content: flex-end;
  width: 490px;
  height: 183px;
  background-color: yellow;
}

.t1 {
  width: 98px;
  height: 183px;
  background-color: red;
}

.t2 {
  width: 98px;
  height: 183px;
  background-color: blue;
}
