html, body {
  height: 100%;
  z-index: -5;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0) 100%);
}

.navbar {
  padding: 20px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.15) 100%);
}

.card {
  margin: 10px;
  max-width: 600px;
  background: linear-gradient(rgba(200, 200, 255, 0.1) 20%, rgba(200, 200, 255, 0.03) 100%);
  z-index: 1;
}

.card .section {
  padding: 20px;
}

#input-container {
  display: flex;
  align-items: baseline;
  margin: 10px 0px;
}

#button-load {
  margin: 10px 0px;
  margin-left: 10px;
}

.tabs {
  margin: 10px;
}

.tabs ul {
  z-index: 2;
}

#output-container {
  width: 350px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin: 0px;
}

.output {
  width: 175px;
  overflow: hidden;
  z-index: 1;
}

#left {
  width: 175px;
  justify-content: flex-end;
}

#left img {
  float: right;
}

.output img {
  width: 350px;
  padding: 0px;
  margin: 0px;
  max-width: 350px;
}

#original-container {
  width: 350px;
}

#original-container img {
  width: 350px;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 10px;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.github-link {
  display: flex;
  align-items: center;
  color: #000;
}

#github-text {
  margin-left: 10px;
  color: #aaa;
}

#github-text:hover {
  color: #dc5;
}

.github-link:hover {
  color: #dc5;
}

.github-link svg {
  fill: currentColor;
}
