.navbar {
  padding: 20px;
  width: 100%;
}

.card {
  margin: 10px;
  max-width: 600px;
}

.card .section {
  padding: 20px;
}

#input-container {
  display: flex;
  align-items: baseline;
  margin: 10px 0px;
}

#button-load {
  margin: 10px 0px;
  margin-left: 10px;
}

.tabs {
  margin: 10px;
}

#output-container {
  width: 350px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin: 0px;
}

.output {
  width: 175px;
  overflow: hidden;
}

#left {
  width: 175px;
  justify-content: flex-end;
}

#left img {
  float: right;
}

.output img {
  width: 350px;
  padding: 0px;
  margin: 0px;
  max-width: 350px;
}

#original-container {
  width: 350px;
}

#original-container img {
  width: 350px;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 10px;
}
