@charset "utf-8";
// @import "../node_modules/bulma/bulma.sass";

$width: 490px;
$height: 183px;

.navbar {
    // padding: 15px;
}

.card {
    margin: 16px;
    max-width: 600px;
}

.panel {
    margin: 16px;
    max-width: 500px;
}


#output-container {
    width: $width;
    // height: $height;
    display: flex;
    // background-color: yellow;
    justify-content: center;
    margin: 20px;
}

.output {
    width: $width/2;
    // height: $height;
    overflow: hidden;
}

#left {
    width: $width/2;
    // display: flex;
    justify-content: flex-end;
    // background-color: blueviolet;
}

#left img {
    float: right;
}

#right {
    // background-color: red;
    // display: flex;
}

.output img {
    width: $width;
    // height: $height;
    padding: 0px;
    margin: 0px;
    max-width: $width;
    // max-width: inherit;
    // opacity: 70%;
}

.tcont {
    display: flex;
    justify-content: flex-end;
    width: $width;
    height: $height;
    background-color: yellow;
}

.t1 {
    width: $width/5;
    height: $height;
    background-color: red;
}

.t2 {
    width: $width/5;
    height: $height;
    // justify-self: end;
    background-color: blue;
}