@charset "utf-8";
// @import "../node_modules/bulma/bulma.sass";

$phone-size: 500px;
$width: 600px;
$width-small: 400px;
// $height: 183px;

html, body {
    height: 100%;
    z-index: -5;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0) 30%,rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0) 100%);
    @media (max-width: $phone-size) {
        // background-color: red;
    }
}


.navbar {
    padding: 20px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.15) 100%);
}

.card {
    margin: 10px;
    max-width: 600px;
    background: linear-gradient(rgba(200, 200, 255, 0.1) 20%, rgba(200, 200, 255, 0.03) 100%);
    z-index: 1;
}

.card .section {
    padding: 20px;
}

#input-container {
    display: flex;
    align-items: baseline;
    margin: 10px 0px;
}

#button-load {
    margin: 10px 0px;
    margin-left: 10px;
}

.tabs {
    margin: 10px;
}

.tabs ul {
    z-index: 2;
}

#output-container {
    width: $width;
    @media (max-width: $phone-size) {
        width: $width-small;
    }
    max-width: 100%;
    // height: $height;
    display: flex;
    // background-color: yellow;
    justify-content: center;
    margin: 0px;
}

.output {
    width: $width/2;
    @media (max-width: $phone-size) {
        width: $width-small/2;
    }
    // width: 50%;
    // height: $height;
    overflow: hidden;
    z-index: 1;
}

#left {
    width: $width/2;
    @media (max-width: $phone-size) {
        width: $width-small/2;
    }
    // width: 50%;
    // display: flex;
    justify-content: flex-end;
    // background-color: green;
}

#left img {
    float: right;
    // width: 200%;
}

#right {
    // background-color: red;
    // display: flex;
}

.output img {
    width: $width;
    @media (max-width: $phone-size) {
        width: $width-small;
    }
    // height: $height;
    padding: 0px;
    margin: 0px;
    max-width: 100vw;
    // max-width: inherit;
    // opacity: 70%;
}

#original-container {
    width: $width;
    @media (max-width: $phone-size) {
        width: $width-small;
    }
    max-width: 100%;
    // margin: 20px;
    // background-color: red;
}

#original-container img {
    width: $width;
    @media (max-width: $phone-size) {
        width: $width-small;
    }
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 10px;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.github-link {
    display: flex;
    align-items: center;
    color: #000;
}

#github-text {
    margin-left: 10px;
    color: #aaa;
}
#github-text:hover {
    color: #dc5;
}

.github-link:hover {
    color: #dc5;
}

.github-link svg {
    fill: currentColor;
    // color:rgba(0, 0, 0, 0.9);
}
// .github-link svg:hover {
//     color:rgba(0, 0, 0, 0.6);
// }