@charset "utf-8";
// @import "../node_modules/bulma/bulma.sass";

$width: 350px;
$height: 183px;

.navbar {
    padding: 20px;
    width: 100%;
}

.card {
    margin: 10px;
    max-width: 600px;
}

.card .section {
    padding: 20px;
}

#input-container {
    display: flex;
    align-items: baseline;
    margin: 10px 0px;
}

#button-load {
    margin: 10px 0px;
    margin-left: 10px;
}

.tabs {
    margin: 10px;
}

#output-container {
    width: $width;
    max-width: 100%;
    // height: $height;
    display: flex;
    // background-color: yellow;
    justify-content: center;
    margin: 0px;
}

.output {
    width: $width/2;
    // width: 50%;
    // height: $height;
    overflow: hidden;
}

#left {
    width: $width/2;
    // width: 50%;
    // display: flex;
    justify-content: flex-end;
    // background-color: green;
}

#left img {
    float: right;
    // width: 200%;
}

#right {
    // background-color: red;
    // display: flex;
}

.output img {
    width: $width;
    // height: $height;
    padding: 0px;
    margin: 0px;
    max-width: $width;
    // max-width: inherit;
    // opacity: 70%;
}

#original-container {
    width: $width;
    // margin: 20px;
    // background-color: red;
}

#original-container img {
    width: $width;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 10px;
}